{% extends "cms/dashboard.html" %}
{% load static %}
{% load persian_filters %}
{% load crispy_forms_tags %}

{% block title %} <h3 class="mb-3 mt-3">آگهی جدید</h3> {% endblock title %}

{% block main %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{property_form|crispy}}
    <label for="images">Upload Images:</label>
    <input type="file" name="images" multiple>

    <button class="btn btn-block btn-primary mb-4 mt-4" type="submit">تایید</button>
</form>
{% endblock main %}