{% extends "properties/index.html" %}
{% load static %}
{% load persian_filters %}

{% block main %}

<div class="hero-wrap" style="background-image: url('{% static 'amlak/images/bg_1.jpg' %}');">
    <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'properties:index' %}">خانه</a></span> <span>درباره‌ما</span></p>
                    <h1 class="mb-3 bread">درباره‌ما</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-section ftc-no-pb" dir="rtl">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/about.jpg);">
                    <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                        <span class="icon-play"></span>
                    </a>
                </div>
            <div class="col-md-7 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section heading-section-wo-line mb-5 pl-md-5">
                    <div class="pl-md-5 ml-md-5 text-right">
                        <span class="subheading">بررسی کلی آژانس املاک کیهان</span>
                        <h2 class="mb-4">با قوانین آشنا شوید</h2>
                    </div>
                </div>
                <div class="pl-md-5 ml-md-5 mb-5 text-right" dir="rtl">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                    <p><a href="#" class="btn-custom">بیشتر بدانید</a></p>
                </div>
            </div>
        </div>
    </div>
    </section>

    {% include "partials/facts.html" %}


    {% include "partials/testimontial.html" %}

{% endblock main %}