{% extends "properties/index.html" %}
{% load static %}

{% load persian_filters %}

{% block main %}
<div class="hero-wrap" style="background-image: url('images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">خانه</a></span> <span>ملک ها</span></p>
          <h1 class="mb-3 bread">ملک‌ها</h1>
        </div>
      </div>
    </div>
  </div>

  {% include "partials/search_property.html" %}
  

  <section class="ftco-section bg-light">
      <div class="container">
          <div class="row">
            {% for obj in properties %}
            <div class="col-md-4 ftco-animate">
                <div class="properties">
                    <a href="{{obj.slug}}" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url('{{ obj.thumbnail }}');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3">
                        <span class="status sale">{{obj.status}}</span>
                        <div class="d-flex">
                            <div class="two text-left">
                                <span class="price">{{obj.price|persian_numbers}} <span class="text-black-50 fs-6 text-muted"><small>میلیارد</small></span></span>
                            </div>
                            <div class="one text-right">
                                <h3><a href="property-single.html">{{obj.title|persian_numbers}}</a></h3>
                                <p>{{obj.type}}</p>
                            </div>
                        </div>
                        <p class="text-right">{{obj.description|persian_numbers}}</p>
                        <hr>
                        <p class="bottom-area d-flex">
                            <span><i class="flaticon-selection"></i> {{obj.area|persian_numbers}}متر</span>
                            <span class="ml-auto"><i class="flaticon-bathtub"></i> {{obj.bathroom|persian_numbers}}</span>
                            <span><i class="flaticon-bed"></i> {{obj.bedroom|persian_numbers}}</span>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
          </div>
          <!--<div class="row mt-5">
            <div class="col text-center">
              <div class="block-27">
                <ul>
                  <li><a href="#">&lt;</a></li>
                  <li class="active"><span>1</span></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&gt;</a></li>
                </ul>
              </div>
            </div>
      </div>-->
      </div>
  </section>

{% endblock main %}