{% extends "properties/index.html" %}
{% load static %}
{% load persian_filters %}

{% block main %}



<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-12 ftco-animate">
            <div class="single-slider owl-carousel">
              {% for img in property.images.all %}
              <div class="item">
                <div class="properties-img" style="background-image: url('{{img.image.url}}');"></div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-12 Properties-single mt-4 mb-5 ftco-animate text-right">
            <h2>{{property.title|persian_numbers}}</h2>
            <p class="rate mb-4">
              <span class="loc"><a href="#">{{property.location}}<i class="icon-map"></i></a></span>
            </p>
            <p>{{property.description|persian_numbers}}</p>
            <div class="d-md-flex mt-5 mb-5 justify-content-end text-dark">
              <ul class="ml-md-5" dir="rtl">
                <li><h6>متراژ زمین: {{property.lot_area|persian_numbers}} متر </h6></li>
                <li><h6>اتاق خواب: {{property.bedroom|persian_numbers}}</h6></li>
                <li><h6>دست‌شویی:  {{property.bathroom|persian_numbers}}</h6></li>
                <li><h6>پارکینگ:  دارد</h6></li>
                <li><h6>آسانسور:  {% if not property.elevator %}نامشخض {% else %}دارد{% endif %}</h6></li>
              </ul>
              <ul class="ml-md-5 custom-list text-end" dir="rtl">
                <li><h6>مساحت سطح طبقه:  {% if not property.floor_area %}نامشخص {% else %}{{property.floor_area|persian_numbers}}{% endif %}</h6></li>
                <li><h6>سال ساخت:  {{property.built_year|persian_numbers}}</h6></li>
                <li><h6>طبقات:  {% if not property.floors %}نامشخص {% else %}{{property.floors|persian_numbers}}{% endif %}</h6></li>
                <li><h6>سقف: جدید</h6></li>
                <li><h6>انباری: {% if property.warehouse %}دارد {% else %}ندارد{% endif %}</h6></li>
              </ul>
            </div>
            <!--<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>-->
          </div>
          <div class="col-md-12 properties-single ftco-animate mb-5 mt-5">
            <h4 class="mb-4 text-right">ملک‌های مرتبط</h4>
            <div class="row">
            {% for obj in relateds %}
              <div class="col-md-6 ftco-animate">
                <div class="properties">
                    <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url('{{ obj.thumbnail }}');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3">
                        <span class="status sale">{{obj.status}}</span>
                        <div class="d-flex">
                            <div class="two text-left">
                                <span class="price">{{obj.price|persian_numbers}} <span class="text-black-50 fs-6 text-muted"><small>میلیارد</small></span></span>
                            </div>
                            <div class="one text-right">
                                <h3><a href="property-single.html">{{obj.title|persian_numbers}}</a></h3>
                                <p>{{obj.type}}</p>
                            </div>
                        </div>
                        <p class="text-right">{{obj.description|persian_numbers}}</p>
                        <hr>
                        <p class="bottom-area d-flex">
                            <span><i class="flaticon-selection"></i> {{obj.area|persian_numbers}}متر</span>
                            <span class="ml-auto"><i class="flaticon-bathtub"></i> {{obj.bathroom|persian_numbers}}</span>
                            <span><i class="flaticon-bed"></i> {{obj.bedroom|persian_numbers}}</span>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
          </div>

        </div>
      </div> <!-- .col-md-8 -->
      <div class="col-lg-4 sidebar ftco-animate">
        <!--<div class="sidebar-box">
          <form action="#" class="search-form">
            <div class="form-group">
              <span class="icon fa fa-search"></span>
              <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
            </div>
          </form>
        </div>-->
        <div class="ftco-animate text-right">
          <p class="breadcrumbs"><span class="ml-2"><a href="{% url 'properties:index' %}">خانه</a></span> <span class="ml-2"><a href="{% url 'properties:properties' %}">ملک‌ها</a></span> <span class="ml-2">{{property.title|persian_numbers}}</span></p>
        </div>
        <div class="sidebar-box ftco-animate">
          <div class="categories text-right">
            <h3 class="text-end">دسته‌بندی‌ها</h3>
            <ul class="list-unstyled">
              {% for category in categories %}
              <li class="d-flex justify-content-between flex-row-reverse">
                <a href="{% url 'properties:properties' %}?category_name={{category.title}}" class="text-decoration-none">{{category.title}}</a>
                <span>{{ category.property_count|persian_numbers}}</span>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <!--<div class="sidebar-box ftco-animate">-->
        <!--  <h3>Tag Cloud</h3>-->
        <!--  <div class="tagcloud">-->
        <!--    <a href="#" class="tag-cloud-link">dish</a>-->
        <!--    <a href="#" class="tag-cloud-link">menu</a>-->
        <!--    <a href="#" class="tag-cloud-link">food</a>-->
        <!--    <a href="#" class="tag-cloud-link">sweet</a>-->
        <!--    <a href="#" class="tag-cloud-link">tasty</a>-->
        <!--    <a href="#" class="tag-cloud-link">delicious</a>-->
        <!--    <a href="#" class="tag-cloud-link">desserts</a>-->
        <!--    <a href="#" class="tag-cloud-link">drinks</a>-->
        <!--  </div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</section> <!-- .section -->



{% endblock main %}