
{% load static %}
<section class="ftco-section testimony-section bg-light text-right">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 ftco-animate">
                <div class="row ftco-animate">
                    <div class="col-md-12">
                        <div class="carousel-testimony owl-carousel ftco-owl">
                            <div class="item">
                                <div class="testimony-wrap py-4 pb-5">
                                    <div class="user-img mb-4" style="background-image: url({% static 'amlak/images/person_1.jpg' %})">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text text-center" dir="rtl">
                                        <p class="mb-4">
                                            یک رودخانه کوچک به نام دودن از نزدیکی محل آنها می‌گذرد و تمام نیازهای آن را تامین می‌کند. اینجا یک کشور بهشتی است که در آن قطعات سرخ شده جملات به دهانتان پرواز می‌کنند.
                                        </p>
                                        <p class="name">راجر اسکات</p>
                                        <span class="position">مشتری</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap py-4 pb-5">
                                    <div class="user-img mb-4" style="background-image: url({% static 'amlak/images/person_2.jpg' %})">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text text-center">
                                        <p class="mb-4">
                                            یک رودخانه کوچک به نام دودن از نزدیکی محل آنها می‌گذرد و تمام نیازهای آن را تامین می‌کند. اینجا یک کشور بهشتی است که در آن قطعات سرخ شده جملات به دهانتان پرواز می‌کنند.
                                        </p>
                                        <p class="name">راجر اسکات</p>
                                        <span class="position">نماینده</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap py-4 pb-5">
                                    <div class="user-img mb-4" style="background-image: url({% static 'amlak/images/person_3.jpg' %})">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text text-center">
                                        <p class="mb-4">
                                            یک رودخانه کوچک به نام دودن از نزدیکی محل آنها می‌گذرد و تمام نیازهای آن را تامین می‌کند. اینجا یک کشور بهشتی است که در آن قطعات سرخ شده جملات به دهانتان پرواز می‌کنند.
                                        </p>
                                        <p class="name">راجر اسکات</p>
                                        <span class="position">مشتری</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap py-4 pb-5">
                                    <div class="user-img mb-4" style="background-image: url({% static 'amlak/images/person_1.jpg' %})">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text text-center">
                                        <p class="mb-4">
                                            یک رودخانه کوچک به نام دودن از نزدیکی محل آنها می‌گذرد و تمام نیازهای آن را تامین می‌کند. اینجا یک کشور بهشتی است که در آن قطعات سرخ شده جملات به دهانتان پرواز می‌کنند.
                                        </p>
                                        <p class="name">راجر اسکات</p>
                                        <span class="position">مشتری</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap py-4 pb-5">
                                    <div class="user-img mb-4" style="background-image: url({% static 'amlak/images/person_1.jpg' %})">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text text-center">
                                        <p class="mb-4">
                                            یک رودخانه کوچک به نام دودن از نزدیکی محل آنها می‌گذرد و تمام نیازهای آن را تامین می‌کند. اینجا یک کشور بهشتی است که در آن قطعات سرخ شده جملات به دهانتان پرواز می‌کنند.
                                        </p>
                                        <p class="name">راجر اسکات</p>
                                        <span class="position">مشتری</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--end section-->