
{% load static %}
<section class="ftco-section testimony-section bg-light text-right">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 ftco-animate">
                <div class="row ftco-animate">
                    <div class="col-md-12">
                        <div class="carousel-testimony owl-carousel ftco-owl">
                            <div class="item">
                                <div class="testimony-wrap py-4 pb-5">
                                    <div class="user-img mb-4" style="background-image: url({% static 'amlak/images/person_1.jpg' %})">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text text-center" dir="rtl">
                                        <p class="mb-4">
                                            این سایت فوق‌العاده بود! من توانستم خانه‌ای دقیقاً مطابق با نیازهای خودم پیدا کنم. توضیحات کامل، تصاویر باکیفیت و جزئیات دقیق در مورد ملک واقعاً کار من را راحت کرد. با تیم پشتیبانی تماس گرفتم و پاسخ‌دهی خیلی سریع و دوستانه بود. واقعاً راضی هستم و حتماً به دوستانم پیشنهادش می‌کنم.
                                        </p>
                                        <p class="name">مصطفی پور احمد</p>
                                        <span class="position">مشتری</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap py-4 pb-5">
                                    <div class="user-img mb-4" style="background-image: url({% static 'amlak/images/person_2.jpg' %})">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text text-center">
                                        <p class="mb-4">
                                            برای پیدا کردن ملکی مناسب برای دفتر کار به شدت مشکل داشتم، اما با استفاده از این سایت به سرعت توانستم گزینه‌های متنوعی ببینم و مقایسه کنم. شفافیت قیمت‌ها و اطلاعات تکمیلی در سایت واقعاً کمک‌کننده بود. به‌علاوه، از خدمات مشاوره‌ی آنلاینشان هم استفاده کردم و تجربه‌ی بسیار خوبی داشتم!
                                        </p>
                                        <p class="name">علی دایی</p>
                                        <span class="position">نماینده</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap py-4 pb-5">
                                    <div class="user-img mb-4" style="background-image: url({% static 'amlak/images/person_3.jpg' %})">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text text-center">
                                        <p class="mb-4">
                                            سایت شما خیلی به من کمک کرد تا ویلایی عالی در منطقه‌ای آرام پیدا کنم. فرآیند جستجو بسیار آسان بود و مشخصات هر ملک به‌خوبی توضیح داده شده بود. از همه بهتر، تیم پشتیبانی بود که قدم به قدم من را راهنمایی کرد تا به نتیجه برسم. تجربه‌ی بی‌نقص و حرفه‌ای!
                                        </p>
                                        <p class="name">علی کریمی</p>
                                        <span class="position">مشتری</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--end section-->